PROJECT_NAME=B.E.A.M.
PROJECT_VERSION=1.0.0
API_V1_STR=/api/v1
ENVIRONMENT=development
DEBUG=false
LOG_LEVEL=INFO
BACKEND_CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]
POSTGRES_SERVER=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=beam_db
POSTGRES_PORT=5432
# DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/beam_db
